body {
  min-height: 20vh;

  display: flex;
  display: grid;
  justify-content: space-between;
  align-items: center;

  font-family: 'Nunito', sans-serif;
  color: #a8a6a6;

  background: #2c2c33;
  background: linear-gradient(135deg, #252529 0%, #25242b 50%, #28282c 100%);
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(31, 29, 29);
  padding: 15px;
  box-shadow: 0 0 3px #fff;
  text-align: center;
}

header li {
  display: inline;
  padding-left: 45px;
}

header li a {
  color: #fff;
  text-decoration: none;
  padding: 13px;
}

.başlık {
  min-height: 10vh;
}

.kaynak a {
  color: #fff;
}