* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: flex;
  display: grid;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-family: 'Nunito', sans-serif;
  color: #a8a6a6;

  background: #2c2c33;
  background: linear-gradient(135deg, #252529 0%, #25242b 50%, #28282c 100%);
}

.high-techss, .gamingss, .smartphoness{
  grid-row-start: 5;
}

.high-techs, .gamings, .smartphones{
  grid-row-start: 4;
}

.high-tech, .gaming, .smartphone{
  grid-row-start: 3;
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(31, 29, 29);
  padding: 15px;
  box-shadow: 0 0 3px #fff;
}

header li {
  display: inline;
  padding-left: 45px;
}

header li a {
  color: #fff;
  text-decoration: none;
  padding: 13px;
}

.card-container.high-tech, .high-techs, .high-techss {
  border-left: 8px solid #4ec9d4;
}
.card-container.high-tech .card-title a, .high-techs .card-title a, .high-techss .card-title a {
  color: #fff;
  text-decoration: none;
}
.card-container.high-tech:hover .card-title a, .high-techs:hover .card-title a, .high-techss:hover .card-title a {
  color: #4ec9d4;
}
.card-container.high-tech .card-category, .high-techs .card-category, .high-techss .card-category {
  color: #4ec9d4;
}
.card-container.high-tech .card-category::after, .high-techs .card-category::after, .high-techss .card-category::after {
  background-color: #4ec9d4;
}
.card-container.high-tech .card-date, .high-techs .card-date, .high-techss .card-date {
  color: #4ec9d4;
}

.card-container.gaming, .gamings, .gamingss {
  border-left: 8px solid #8c4ed4;
}
.card-container.gaming .card-title a, .gamings .card-title a, .gamingss .card-title a {
  color: #fff;
  text-decoration: none;
}
.card-container.gaming:hover .card-title a, .gamings:hover .card-title a, .gamingss:hover .card-title a {
  color: #8c4ed4;
}
.card-container.gaming .card-category, .gamings .card-category, .gamingss .card-category {
  color: #8c4ed4;
}
.card-container.gaming .card-category::after, .gamings .card-category::after, .gamingss .card-category::after {
  background-color: #8c4ed4;
}
.card-container.gaming .card-date, .gamings .card-date, .gamingss .card-date {
  color: #8c4ed4;
}

.card-container.smartphone, .smartphones, .smartphoness {
  border-left: 8px solid #4ed495;
}
.card-container.smartphone .card-title a, .smartphones .card-title a, .smartphoness .card-title a {
  color: #fff;
  text-decoration: none;
}
.card-container.smartphone:hover .card-title a, .smartphones:hover .card-title a, .smartphoness:hover .card-title a {
  color: #4ed495;
}
.card-container.smartphone .card-category, .smartphones .card-category, .smartphoness .card-category {
  color: #4ed495;
}
.card-container.smartphone .card-category::after, .smartphones .card-category::after, .smartphoness .card-category::after {
  background-color: #4ed495;
}
.card-container.smartphone .card-date, .smartphones .card-date, .smartphoness .card-date {
  color: #4ed495;
}

.card-container {
  width: 400px;
  height: 250px;
  background: rgb(37, 36, 36);
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
  transition-duration: .3s;
  transform: scale(0.8);
  overflow: hidden;
}

.card-container:hover {
  cursor: pointer;
  box-shadow:0 0 15px rgba(0, 0, 0, 0.4);
  transition-duration: .3s;
}

.card-container:hover .card-category::after {
  transition-duration: .3s;
  left: 280px;
  opacity: 0;
}

.card-container:hover .card-category::before {
  transition-duration: .3s;
  opacity: 1;
}

.card-container:hover .card-title {
  transition-duration: .3s;
}

.card-category {
  height: 50px;
  position: relative;
  padding: 15px 20px;
  font-weight: 700;
  text-align: left;
}

.card-category::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 5px;
  bottom: -5px;
  left: 20px;
  opacity: 1;
  border-radius: 10px;
  transition-duration: .3s;
}

.card-category::before {
  content: '\00BB';
  position: absolute;
  display: block;
  right: 20px;
  opacity: 0;
  bottom: -10px;
  font-size: 3rem;
  transition-duration: .3s;

}

.card-body {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-content {
  width: 60%;
}

.card-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.card-date {
  font-size: .7rem;
  font-weight: 700;
  text-align: right;
}

.card-extract {
  color: #808080;
  font-size: 0.9rem;
  font-weight: 300;
}

.card-thumb {
  height: 80%;
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 600px) {
body {
  flex-direction: column;
}
}